<form action='<%= surveys_path %>' accept-charset="UTF-8" data-remote="true" method="post">
  <div class="input-field">
    <label for="title">Title</label>
    <input id="title" type="text" name="title"/>
  </div>

  <div class="switch">
    <label>
      Public
      <input name="closed" type="checkbox">
      <span class="lever"></span>
      Private
    </label>
  </div>

  <% 5.times do |i| %>
    <div>
      <br/>
      <div class="question input-field">
        <label for="question_<%= i %>">Question <%= i + 1 %></label>
        <input id="question_<%= i %>" type="text" name="questions[]"/>
      </div>

      <p>Options</p>
      <% 3.times do |j| %>
        <div class="option input-field">
          <input type="text" placeholder="Option <%= j + 1 %>" name="options[<%= i %>][]"/>
        </div>
      <% end %>
    </div>
  <% end %>
  <center>
    <input class="btn waves-effect waves-light" type="submit" name="action" value="Submit">
  </center>
</form>

<script>
</script>
