<h1><%= survey.title %></h1>

<p><b>By <%= survey.user.email %>.</b></p>

<% if survey.closed && survey.creator?(current_user.id) %>
  <%= render partial: 'invite', locals: {survey: survey} %>
<% end %>

<% if submitted?(survey) %>
  <h4>You have submitted this survey.</h4>
  <%= render partial: 'aggregrate', locals: {survey: survey} %>
<% else %>
  <h4>You have not submitted this survey!</h4>
  <p>Please complete the survey to see aggregrate results.</p>

  <%= render partial: 'questions', locals: {survey: survey} %>
<% end %>
