<h1><%= survey.title %></h1>

<p><b>By <%= survey.user.email %>.</b></p>

<% if survey.closed && survey.creator?(current_user.id) %>
  <%= render partial: 'invite', locals: {survey: survey} %>
<% end %>

<% if submitted?(survey) %>
  <h4>Results</h4>
  <p>You have completed the survey.</p>

  <%= link_to 'See results', results_survey_path(survey), remote: true, class: 'btn waves-effect waves-light', method: :post %>
  <div id="results"></div>
<% else %>
  <h4>Submit Survey</h4>
  <p>Please complete the survey to see aggregrate results.</p>

  <%= link_to 'Start the survey' , questions_survey_path(survey), remote: true, class: 'btn waves-effect waves-light', method: :post %>
  <div id="questionnaire"></div>
<% end %>
